<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <Console name="myConsole" target="SYSTEM_OUT">
        	<!--
        		INFO  | [main] en16931.ExtractionTest (ExtractionTest.java:85) - SPECIFICATION DOCUMENT: '16931-3-3_changesAccepted-NUR AB TABELLEN'
            <PatternLayout pattern="%-5p | [%t] %C{2} (%F:%L) - %m%n" charset="UTF-8" />
            <PatternLayout pattern="%-5p | %C{2} - %m" charset="UTF-8" />
            <PatternLayout pattern="%-5p | [%t] %C{2} (%F:%L) - %m%n" charset="UTF-8"/>-->
            <PatternLayout pattern="%m" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="de.prototypefund" level="info"/>
        <Root level="info">
            <AppenderRef ref="myConsole"/>
        </Root>
    </Loggers>

</Configuration>
